body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    min-width: 370px;
}
hr {
    border: 0;
    height: 0.1em;
    background: #333;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}
#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(assets/image/main-bg.jpg) no-repeat;
    background-size: cover;
    color: #f0ffff;
    height: 20vh;
}
#header , #header {
    text-shadow: 0px 0px 10px #000000;
}
h3 {
    color: #fff;
}
#search-bar{
    text-align: center;
    margin-top: -1.1em;

}
#search-bar input{
    height: 1.85rem;
    width: 60%;
    margin-right: 0;
    padding-left: 2rem;
    border-radius:5px 0 0 5px;
    border: none;
    box-shadow: 0 0 5px #fff;
}
#search-bar button{
    height: 2rem;
    width: 15%;
    padding: 0;
    margin-left: -0.3em;
    border-width: 0;
    padding-block: 0;
    border-style: none;
    border-left: 2px solid #000000 ;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px #fff;
}
.icon-style {
    background-image: url('https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid');
    transform: translateX(160%);
    color: #000000;
  }
p {
    font-size: 0.75em;
    color:#fff;
}
h5 {
    color:#fff;
}
#submit-search {
    border-radius: 0 8px 8px 0;
    transition: all 1.5s;
}
#movie-card {
    display: flex;
    justify-content: space-evenly;
    margin: 2em auto;
    padding: 0 1.5em; 
}
#movie-card div{
    margin-right: 1em;
    transition: all 0.5s;
}
#movie-card img{
    border-radius: 2px;
    box-shadow: 0 0 15px #ffffffd7;
}
#movie-details {
    flex-direction: row;
}
#name-section, #theme-section, #details-section {
    display: flex;
    gap: 1em;
    
}
#name-section p{
    margin: auto 1em;
}
.fa-star {
    color: #fec654;
    margin-right: 0.5em;
}
.fa-plus {
    color: #000000;
    background-color: #ffffffd7;
    margin-right: 0.5em;
    border: 1px solid #000000d7;
    border-radius: 50%;
    padding: 0.2em;
    font-weight: bolder;
    font-size: 0.7rem;

}
.read-more {
    color: #ff0000;
    text-decoration: none;
    line-break: auto;
}
#details-section .plot {
    font-size: 0.75em;
    color: darkgray;
}
.watchlist a {
    color: #ffffffd7;
    text-decoration: none;
}