body {
    margin: 0;
    padding: 0;
    background-color: #121212;
}
#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(assets/image/main-bg.jpg) no-repeat;
    background-size: cover;
    color: #f0ffff;
    height: 20vh;
}
#header h1, #header h3 {
    text-shadow: 0px 0px 10px #000000;
}